<h1>{{title}}</h1>
<p>Welcome to {{title}}!</p>
<ul>
{{#each historicalWeather}}
    <li><strong>{{toMonth this._id}}:</strong> Temperature {{truncateNumber this.avg_temperature_f 0}}°, Humidity: {{truncateNumber this.avg_humidity 0}}%</li>
{{/each}}
</ul>