<header>
    <h1>{{title}}</h1>
    <h2>Compass Weather</h2>
</header>
<h3>New York City</h3>
<p>{{weather.summary}}, {{truncateNumber weather.temperature 1}}F, {{weather.humidityPercentage}}%</p>
<p><canvas id="icon" width="192" height="192"></canvas></p>
<p>
    <small>
        {{#if (gt weather.temperature averageWeather.0.avg_temperature_f)}}
        <strong>It's warmer than usual</strong>
        {{else if (lt weather.temperature averageWeather.0.avg_temperature_f)}}
        <strong class="from-historical">It's colder than usual</strong>
        {{/if}}
        <br>
        The average conditions for this time of the day on {{toMonth month}} {{toOrdinal day}} are
        <strong><span class="from-historical">{{truncateNumber averageWeather.0.avg_temperature_f 1}}F</span>,
            <span class="from-historical">{{truncateNumber averageWeather.0.avg_humidity 0}}%</span></strong>
    </small>
</p>